{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modification de mon profil
{% endblock %}

{% block body %}


	<div class="container">
		<h1 class="mt-4">Formulaire de modification des informations de l'utilisateur</h1>
		{% for message in app.flashes('warning') %}
			<div class="text-dark alert alert-warning">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4 alert-dismissible ">
				<i class="bi-check-circle-fill"></i>
				<strong class="mx-2">Succés!</strong>
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
		{% endfor %}
		{{form((form))}}


		</div>
	{% endblock %}
